body {
    background-image: url(1.image.jpg);
    background-size: cover;
    background-repeat:none
    
}

.logo {
    margin: 3% 0% 0% 8%;
    height: 100px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-right:2%;
}


nav {
    margin: -6% 10% 0% 0%;
    text-align: right;
}


.loc1 {
    margin: 10% 0% 0% 10%;
}

p{
    color: white;
}
.heading {
    font-size: 90px;
    font-weight: bold;
    color: white;
}
.button {
    border: 2px solid none;
    width: 150px;
    text-align: center;
    border-radius: 50px;
    background-color: white;
    padding: 6px 0px 6px 0px;
   
}


.headline {
    margin-top: -40%;
    margin-bottom: 10%;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25PX;
  
}



button {
    background-size: cover;
    border-radius: 6%;
    height: 240px;
    width: 240px;
    border: none;
    margin-left: 15px;
    transition-duration: 0.4s;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-bottom: 8%;

}
button:hover {
    transform: translate(0px, -20px);
    transition-duration: 0.4s;
}

.loc {
    margin: -20% 0% 0% 55%;
    position: absolute;
}

.img1 {
background-image: url(pick-1.png);
}
.img2 {
background-image: url(pick-2.png);
}
.img3 {
background-image: url(pick-3.png);
}
.img4 {
background-image: url(pick-4.png);
}


@media only screen and (max-width: 720px) {

    body {
    background-image: url(1.image.jpg);
    background-size:cover;
    background-attachment: fixed; 
    }


    nav {
         margin: -80px 0px 0px 0px;
         text-align: right;
    }

    a {
        color: white;
        text-decoration: none;
        font-size: 16px;
        margin-right:2%;
    }

    .heading {
        font-size: 50px;
        font-weight: bold;
        color: white;
    }

    .loc {
        margin: 10% 5% 0% 5%;
    }

    .headline {
        margin-top: -30%;
        margin-bottom: 10%;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        font-size: 25PX;
    }

    button {
        background-size: cover;
        justify-content: center;
        margin-bottom: 8%;
        border-radius: 6%;
        height: 220px;
        width: 320px;
        border: none;
        transition-duration: 0.4s;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
        display: block;
    }

    

}
